main {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.memory-information {
    border: 1px solid slategray;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
}

.color-picker label {
    margin-top: 20px;
    width: 100px;
    display: inline-block;
}

.color-picker input {
    width: 200px;
}

.email-changer {
    margin-top: 20px;
    border: 1px solid slategray;
    border-radius: 20px;
    padding: 10px;
}

button {
    display: block;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}